.main{
    background-color: aqua;  
    position: relative;
    border-color: forestgreen;
    border-style: solid;
    border-width: 1px;
 
    
    
}
.column{
    
    width: 200px;
    float: left;

}
.content{
    background-color: darkgray;
    margin-left: 200px;
}
.list{
    background-color:bisque ;   
    padding: 5px;
    
}
.footer{
    background-color: limegreen;
    height: 50px;
    bottom: 0;
    left:0;
    position: fixed;
    width: 100%;
 
}


   

   
